
<link rel="stylesheet" href="/public/js/views/login.css">
<br>
<div class="login-wrapper">
    <img src="/public/resources/img/logo.png" alt="">
    <form name="frm" novalidate>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Senha">

        <section layout="row" layout-xs="column" layout-align="center center" layout-wrap>

            <md-button class="md-raised md-primary" style="background:#4bb0ee;width: 260px">Entrar</md-button>

        </section>
    </form> 
</div>