<link rel="stylesheet" href="/public/css/theme.min.css" />
<link rel="stylesheet" href="/public/js/views/login.css" />

<div class="login-wrapper" style="">
  <img src="/public/resources/img/logo.png" alt="" /><br />
  <div style="width: 50%">
    <h5 class="text-center">
      Não perca mais nenhum momento da sua vida! <br />Vem pra Timelin e
      registre todos os acontecimentos importantes!<br /><br />

      O Timelin é um site onde usuários podem se registrar <br />
      e criar linhas do tempo de seus acontecimentos de vida.<br /><br />

      Se ainda não faz parte, <a href="#!/registro">registre-se!</a><br />
      Caso já tenha cadastro, <a href="#!/login">entre</a> e aproveite!
    </h5>
  </div>

  <br><br>
  <img src="/public/resources/img/clientes.png" alt="" /><br />

  <div class="clientes">
      <img src="/public/resources/img/clients/amazon.png" alt="">
      <img src="/public/resources/img/clients/apple.png" alt="">
      <img src="/public/resources/img/clients/disney.png" alt="">
      <img src="/public/resources/img/clients/coruja.png" alt="">
      <img src="/public/resources/img/clients/face.png" alt="">
      <img src="/public/resources/img/clients/google.png" alt="">
      <img src="/public/resources/img/clients/netflix.png" alt="">
      <img src="/public/resources/img/clients/starbucks.png" alt="">
  </div>
  <br><br>
  <img src="/public/resources/img/contato.png" alt="" /><br />

  <br>
  <md-card style="width: 50%">
    <md-card-title>
      <md-card-title-text class="text-center">
        <span class="md-headline">Localização</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div
        id="map-container-google-11"
        class="z-depth-1-half map-container-6"
        style="height: 400px"
      >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15802.385182264721!2d-34.8791712267957!3d-8.040489639362006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x169129cf45be386!2zVGltZWxpbmUgU29sdcOnw7VlcyBUZWNub2zDs2dpY2Fz!5e0!3m2!1spt-BR!2sbr!4v1553018774476"
          frameborder="0"
          style="border:0"
          allowfullscreen
        ></iframe>
      </div>
    </md-card-content>
  </md-card>
</div>
<br><br>
